*~
*#
.#*
Private.plist
.DS_STORE
node_modules
bower_components
atv/atv.xcodeproj/project.xcworkspace/xcshareddata
atv/atv.xcodeproj/project.xcworkspace/xcuserdata
atv/atv.xcodeproj/xcuserdata
project.xcworkspace/xcuserdata/
xcuserdata/

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace
