<document>
	<formTemplate>
		<banner>
			<title>Signup</title>
			<description></description>
		</banner>
		<textField>Username</textField>
		<textField>Email</textField>
		<textField>Password</textField>
		<textField>Confirm Password</textField>
		<footer>
			<button><text>Sign Up</text></button>
		</footer>
	</formTemplate>
</document>