<document>
	<searchTemplate theme="light">
		<searchField>Search</searchField>
		<collectionList>
			<shelf>
				<header>
					<title>Most Downloaded Videos</title>
				</header>
				<section>
					<header>
						<title>No Results</title>
					</header>
				</section>
			</shelf>			
			<shelf>
				<header>
					<title>Most Downloaded Music</title>
				</header>
				<section>
					<header>
						<title>No Results</title>
					</header>
				</section>
			</shelf>
		</collectionList>
	</searchTemplate>
</document>