<document>
    <formTemplate>
        <banner>
            <description>You are logged into the Internet Archive as Eagle19243</description>
        </banner>
        <footer>
            <button><text>Logout</text></button>
        </footer>
    </formTemplate>
</document>