<document>
    <divTemplate>
        <header class='text-center' style='font-size:40;'>
            <title style='font-weight: semibold;'>You are logged into the Internet Archive as Eagle19243</title>
        </header>
        <button style='tv-align: center; width: 250; font-size: 40; margin-top: 100;'>
            <text style='font-weight: bold;'>Logout</text>
        </button>
    </divTemplate>
</document>